$link-color: #3f75ff;
$link-color-hover: rgb(38, 71, 156);
$primary-color: #4b4b4b;
$secondary-color: #8f9094;
$job-location-color: #708090;
$title-dark-color: #425161;
$jobs-pill-color: #ff8f3f;
$subtitleColor: #fefefe;
$nav-home-color: #272940;
$nav-item-color: #758493;
$btn-inactive-color: #a9abbd;
$article-bg-color: #5686fb;
$article-bg-hover-color: #799ef7;

// --
$facebook-color: 59, 89, 152;
$google-color: 76, 144, 245;
$apple-color: 153, 153, 153;
$microsoft-color: 3, 164, 239;
$amazon-color: 255, 153, 0;
$intuit-color: 0, 119, 197;
$linkedin-color: 0, 119, 181;
$adobe-color: 255, 0, 0;
$airbnb-color: 253, 92, 99;
$lyft-color: 255, 0, 191;
$uber-color: 9, 9, 26;
$twitter-color: 0, 132, 255;
$shopify-color: 80, 184, 60;
$paypal-color: 37, 59, 128;
$atlassian-color: 0, 82, 204;
$mailchimp-color: 255, 224, 27;
$dropbox-color: 0, 97, 255;
$instagram-color: 23, 23, 23;
$palantir-color: 23, 23, 23;
// --
$bubbles-bg-color: #f8f9fc;
$bubbles-title-color: #092056;
$bubbles-subtitle-color: #758493;
$bubbles-link-color: #5396eb;
$bubbles-light-gray: #797e8a;
$bubbles-inactive-color: #9498a3;
$bubbles-inactive-alt-color: #9bc2f4;
$bubbles-active-color: #5396eb;
$bubbles-active-alt-color: #3574c4;
$bubbles-outline-color: #d9dee1;
$bubbles-reply-color: #f8f8f7;
$bubbles-profile-picture-size: 56px;
// --
$nav-bar-height: 100px;
$nav-bar-side-padding: 94px;
$nav-bar-mobile-height: 80px;
$nav-bar-mobile-side-padding: 16px;
$universal-width: 1240px;
